<%- include("partials/header.ejs")%>
    <div style="background: #05631e;">
        <h1 style="text-align:center;padding-top:20px;">What is Sapto?</h1>
        <div class="container">
            <p>It gets a bit tough to get our nutrition in proper amount with respect to our body in this fast moving world. We should always eat in a proper diet to withstand the metabolism and digestion at their best for longer period of time. This where
                <strong style="color:#2cfc03">Sapto</strong> comes into play, it tells you exactly what to eat, how much and when.
            </p>
        </div>

    </div>
    <div class="container">
        <h4 style="color:#e0f2d8;padding-top:20px;font-size: 1.25rem;"><img style="width:30%;float: right;padding-right:20px;" src="/undraw_medicine_b1ol.svg">Get consulted by the best dieticians near you</h4>
    </div>


    <div class="container">
        <h4 style="color:#e0f2d8;padding-top:20px;font-size: 1.25rem;"><img style="width:30%;float: left;padding-right:20px;" src="/undraw_schedule_pnbk.svg">Your meals gets synced with calender.. So now, being consistent is easy!</h4>
    </div>

    <div class="container">
        <h4 style="color:#e0f2d8;padding-top:20px;font-size: 1.25rem;">Start your <span id="Hbrand">Sapto</span> journey today and allow us to help <img style="width:30%;float: right;padding-left:20px;padding-top:15px" src="/undraw_different_love_a3rg.svg">you reach your fitness goal Faster!</h4>
    </div>
    <div class="container">
        <h4 style="width:40%;text-align:center;margin-left:30%;margin-top:20px;
margin-bottom:20px;font-size: 1rem;"><i style="color:#e0f2d8">“Your diet is a bank account. </i><i style="color:#e0f2d8">Good food choices are good investments.” – Bethenny Frankel</i></h4>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h3 style="padding-top:20px;font-size: 1.55rem;">Our Services:</h3>
                <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                    <div class="col-md-12 col-sm-12">
                        <div class="thumbnail">
                            <img class="dp" src="/undraw_mindfulness_scgo.svg">
                            <div class="caption">
                                <h4 style="color:#e0f2d8;">MACROS PLANNER</h4>
                            </div>
                            <p>
                                <% if(!currentUser){%>
                                    <a style="background:none" href="/yourInfo" class="btn btn-info">Get diet plan</a>
                                    <%}else{%>
                                        <%if(currentUser.age){%>
                                            <a style="background:none" href="/yourInfo/<%=currentUser._id%>" class="btn btn-info">Get diet plan</a>
                                            <%}else{%>
                                                <a style="background:none" href="/yourInfo" class="btn btn-info">Get diet plan</a>
                                                <%}%>
                                                    <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include("partials/footer.ejs")%>