<%- include("partials/header.ejs")%>
    <div style="background: #43c466;">
        <h1 style="text-align:center;padding-top:29px;padding-bottom: 10px;">What is Sapto?</h1>
        <div class="container">
            <p style="color:#060606;font-size: 18px;font-family: Montserrat;">It gets tough to get our nutrition in proper amount with respect to our body in this fast moving world. We should always eat in a proper diet to withstand the metabolism and digestion at their best for longer period of time. This where
                <strong style="color:#060606;">Sapto</strong> comes into play, it tells you exactly what to eat, how much and when.We not only give you the best diet plan but also suggest you the excercise which you have to do to stay fit based on your
                age. Also we tell you at this age you are prone to which disease and what is its prevention based on your lifestyle. We believe not only the physical health is important but also the mental health. So with suggestions from no of experts
                we have created a assessment for your mental health and it will reflect your mental state.
            </p>
        </div>

    </div>
    <div class="container1 ">
        <h4 style="color:#efefef;padding-top:10px;font-size: 1.25rem; "><img style="width:30%;float: right;padding-right:20px; " src="/undraw_medicine_b1ol.svg ">Get Diet chart on your fingertip.</h4>
        <h4 style="color:#060606;padding-top:50px;font-size: 1.50rem;"> Get Diet chart on your fingertip. Reduces the need of Dietician.</h4>
    </div>


    <div class="container2 ">
        <h4 style="color:#efefef;padding-top:20px;font-size: 1.25rem;"><img style="width:30%;float: left;padding-right:20px; " src="/undraw_schedule_pnbk.svg ">Your meals gets synced with calender. Reminders will be provided.. So now, being consistent is easy!</h4>
        <h4 style="color:#060606;padding-top:50px;font-size: 1.50rem;">Your meals gets synced with calender.. So now, being consistent is easy!</h4>
    </div>

    <div class="container3 ">
        <h4 style="color:#efefef;padding-top:20px;font-size: 2.25rem; ">Start your <span id="Hbrand ">Sapto</span> journey today and allow us to help <img style="width:30%;float: right;padding-left:20px;padding-top:15px " src="/undraw_different_love_a3rg.svg "> you reach your fitness goal Faster!</h4>
        <h4 style="color:#060606;padding-top:140px;font-size:1.50rem; ">Start your <span id="Hbrand ">Sapto</span> journey today and allow us to help you reach your fitness goal Faster!</h4>
    </div>

    <div class="container ">

        <div class="row ">
            <div class="col-lg-12 ">
                <h2 style="padding-top:20px;font-size: 2.05rem; color: #060606 "><strong>Our Services:</strong></h2>
                <div class="row text-center " style="display:block; flex-wrap: wrap; ">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="thumbnail ">
                            <img class="dp " src="/undraw_mindfulness_scgo.svg ">
                            <!-- <h4> Hello</h4> -->
                            <img class="dp " src="/Exercise-removebg-preview.png ">
                            <!-- <h4>Hii</h4> -->
                            <img class="dp " src="/Mental_health-removebg-preview.png ">
                            <img class="dp " src="/disease.png ">
                            <!-- <div class="caption "> -->

                            <!-- <h4 style="color:#060606; ">Macros planner &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Diabetes Prediction &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbspStress Prediction $nbsp Disease Predictor </h4> -->


                            <!-- </div> -->
                            <p>
                                <% if(!currentUser){%>
                                    <a style="background:none; margin:30px;color: #060606; " href="/yourInfo " class="btn btn-info ">Get Diet plan</a>
                                    <a style="background:none; margin:35px;color: #060606 " href=https://diabetss.herokuapp.com/ target="_blank " class="btn btn-info ">Diabetes Predictor</a>
                                    <a style="background:none; margin:35px;color: #060606 " href=https://depres.herokuapp.com/ target="_blank " class="btn btn-info ">Stress Predictor</a>
                                    <a style="background:none; margin:30px;color: #060606 " href=https://diseasetest.herokuapp.com/ target="_blank " class="btn btn-info ">Disease Predictor</a>
                                    <%}else{%>

                                        <%if(currentUser.age){%>

                                            <a style="background:none; margin:30px;color: #060606 " href="/yourInfo/<%=currentUser._id%>" class="btn btn-info">Get diet plan</a>
                                            <a style="background:none; margin:35px;color: #060606 " href=https://diabetss.herokuapp.com/ target="_blank " class="btn btn-info ">Diabetes Predictor</a>
                                            <a style="background:none; margin:35px;color: #060606 " href=https://depres.herokuapp.com/ target="_blank " class="btn btn-info ">Stress Predictor</a>
                                            <a style="background:none; margin:30px;color: #060606 " href=https://diseasetest.herokuapp.com/ target="_blank " class="btn btn-info ">Disease Predictor</a>

                                            <%}else{%>
                                                <a style="background:none; margin:30px;color: #060606" href="/yourInfo" class="btn btn-info">Get diet plan</a>
                                                <a style="background:none; margin:35px;color: #060606 " href=https://diabetss.herokuapp.com/ target="_blank " class="btn btn-info ">Diabetes Predictor</a>
                                                <a style="background:none; margin:35px;color: #060606 " href=https://depres.herokuapp.com/ target="_blank " class="btn btn-info ">Stress Predictor</a>
                                                <a style="background:none; margin:30px;color: #060606 " href=https://diseasetest.herokuapp.com/ target="_blank " class="btn btn-info ">Disease Predictor</a>
                                                <%}%>
                                                    <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include("partials/footer.ejs")%>